@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('/assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
  url('/assets/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
  url('/assets/fonts/ProximaNova-Regular/ProximaNova-Regular.svg#webfont') format('svg');
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('/assets/fonts/MyriadPro/MyriadPro-Regular.eot');
  src: url('/assets/fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
  url('/assets/fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'),
  url('/assets/fonts/MyriadPro/MyriadPro-Regular.svg#webfont') format('svg');
}
h1 {
  font-size: 50px !important;
  font-family: "Myriad Pro" !important;
  color: rgb(233, 239, 255) !important;
  line-height: 1.2 !important;
  text-align: center !important;
}
.navbar-brand>img {
  margin-top: -13px;
}
.main-header {
  background-color: #0a1736;
  border-bottom: 1px solid #2a3757;
  position: relative !important;
  width: 100%;
  box-shadow: 0px 10px 35px 1.6px rgba(10, 106, 185, 0.15);
}
.header-main-section {
  padding-bottom: 320px;
}
.fullwidth {

}
.skin-blue .main-header .navbar .nav > li > a {
  font-family: 'Proxima Nova';
  font-size: 14px;
  color: rgb(0, 179, 107);
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-custom-menu {
  margin-left:30px;
}
.navbar-custom-menu ul li a {
  padding-right: 10px;
  padding-left: 10px;
}
.skin-blue .main-header .navbar .nav > li > a:hover {
  color:#00b36b !important;
  background: transparent !important;
}
.skin-blue .main-header .navbar .nav > li.active {
  background-color: transparent;
}
.skin-blue .main-header .navbar .nav > li.active a {
  color:#00b36b;
  background: transparent;
}

.skin-blue .main-header .navbar {
  background-color: transparent !important;
  height: 85px;
  margin:0 auto !important;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-top: 20px;
}
.main-header .navbar-custom-menu, .main-header .navbar-right {
  margin-top: 20px;
}
.green-button {
  color: #00b36b;
  border: 1px solid #00b36b;
  border-radius: 7px;
  padding: 10px 17px;
  font-size: 14px;
  font-family: "Proxima Nova";
  text-transform: uppercase;
  text-align: center;
  background-color: #092e3e;
  transition: 0.3s;
  width: fit-content;
  display: inline-block;
}
.green-button:hover {
  color: white;
  background-color:  #00b36b;
  transition: 0.3s;
}
.white-button {
  color: white;
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px 17px;
  font-size: 14px;
  font-family: "Proxima Nova";
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(255,255,255, 0.2);
  transition: 0.3s;
  width: fit-content;
  display: inline-block;
}
.white-button:hover {
  color: #00b36b;
  background-color:  white;
  transition: 0.3s;
}
.main-header .green-button {
  margin-top: 23px;
}
.overlay-dark {
  background-color: transparent !important;
}
.banner-text h1 {
  font-weight: normal !important;
}
.banner-text p {
  font-size: 22px !important;
  font-family: "Myriad Pro";
  color: rgb(177, 188, 220);
  line-height: 1.636 !important;
  text-align: center;
  padding: 30px 130px;
  font-weight: normal !important;
}
.banner-text p::after {
  display: none;
}
.banner-text-buttons {
  margin-top: 60px;
}
.banner-text-buttons .green-button {
  margin-right:15px;
}
.banner-text-buttons .white-button {
  margin-right:15px;
}
img.big-under-banner {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: -320px;
  width: 90%;
  max-width: 1180px;
}
.main-section-1 {
  background-image: url(/assets/images/main-section-1-bg.jpg);
  width: 100% !important;
}
.main-section-1-1 {
  margin: 0 auto;
  float: none !important;
  display: block;
  margin-top: 150px;
}
.main-section-1-1 h2 {
  font-size: 40px;
  font-family: "Myriad Pro";
  color: rgb(48, 63, 77);
  line-height: 1.2;
  text-align: center;
}
.main-section-1-1 p {
  font-size: 17px;
  font-family: "Myriad Pro";
  color: rgb(107, 135, 164);
  line-height: 1.706;
  text-align: center;
  padding: 10px 200px;
}
.main-section-1-1-advantages {
  margin-top: 70px;
}
.main-section-1-1-advantages .col-md-4 {
  border-radius: 6px;
  padding: 30px 15px;
  transition: 0.3s;
}
.main-section-1-1-advantages .col-md-4:hover {
  background-color: rgba(247, 105, 86, 0);
  box-shadow: 0px 20px 38.4px 1.6px rgba(10, 106, 185, 0.15);
  transition: 0.3s;
}
.main-section-1-1-advantages .col-md-4:hover a.advantages-read-more {
  opacity: 1;
  transition: 0.3s;
}
.main-section-1-1-advantages .adventages-left-content {
  display: inline-block;
  float: left;
  width: 15%;
}
.main-section-1-1-advantages .adventages-right-content {
  display: inline-block;
  float: right;
  width: 85%;
  padding-left: 25px;
}
.main-section-1-1-advantages img {
  display: block;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 7px 10px;
}

.main-section-1-1-advantages .advantages-title {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: rgba(107, 135, 164, 0.4);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.main-section-1-1-advantages p {
  padding: 0;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(107, 135, 164);
  line-height: 1.706;
  text-align: left;
  font-weight: normal;
  margin-top: 20px;
}

.main-section-1-1-advantages h4 {
  font-size: 19px;
  font-family: "Myriad Pro";
  color: rgb(48, 63, 77);
  line-height: 1.2;
  text-align: left;
  font-weight: normal;
  margin: 5px 0 0 0;
}

.main-section-1-1-advantages a.advantages-read-more {
  opacity: 0;
  font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
  color: rgb(0, 179, 107);
  text-transform: uppercase;
  line-height: 1.857;
  text-align: left;
}
.main-section-1-2 {
  margin-top:200px;
}
.main-section-1-2 .pull-left {
  width: 40%;
  padding-top: 60px;
}
.main-section-1-2 .pull-left h2 {
  font-size: 36px;
  font-family: "Myriad Pro";
  color: rgb(48, 63, 77);
  line-height: 1.2;
  text-align: left;
  margin-bottom: 30px
}
.main-section-1-2 .pull-left p {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(107, 135, 164);
  line-height: 1.706;
  text-align: left;
}
.main-section-1-2 .pull-left p  b {
  color: #303f4d;
}
.main-section-1-2 .pull-left .green-button {
  background-color: rgba(0, 179, 107, 0.149);
  box-shadow: 0px 3px 7px 0px rgba(37, 7, 115, 0.29);
  margin-top: 50px;
}
.main-section-1-2 .pull-left .green-button:hover {
  background-color: #00b36b;
}
.main-section-1-2 .pull-right {
  width: 55%;
}
.main-section-1-2 .pull-right img {
  width:100%;
}


.main-section-1-3 {
  margin-top:200px;
  margin-bottom: 180px;
}
.main-section-1-3 .pull-right {
  width: 50%;
  padding: 60px;
}
.main-section-1-3 .pull-right h2 {
  font-size: 36px;
  font-family: "Myriad Pro";
  color: rgb(48, 63, 77);
  line-height: 1.2;
  text-align: left;
  margin-bottom: 30px
}
.main-section-1-3 .pull-right p {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(107, 135, 164);
  line-height: 1.706;
  text-align: left;
}
.main-section-1-3 .pull-right p  b {
  color: #303f4d;
}

.main-section-1-3 .pull-left {
  width: 50%;
}
.main-section-1-3 .pull-left img {
  width:100%;
}
.main-section-1-3 a.advantages-read-more {
  font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
  color: rgb(0, 179, 107);
  text-transform: uppercase;
  line-height: 1.857;
  text-align: left;
  float: left;
}

.main-section-1-3 .adventages-left-content {
  display: inline-block;
  float: left;
  width: 15%;
}
.main-section-1-3 .adventages-right-content {
  display: inline-block;
  float: right;
  width: 85%;
  padding-left: 25px;
}


.main-section-1-3 p {
  padding: 0;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(107, 135, 164);
  line-height: 1.706;
  text-align: left;
  font-weight: normal;
  margin-top: 20px;
}

.main-section-1-3 h4 {
  font-size: 19px;
  font-family: "Myriad Pro";
  color: rgb(48, 63, 77);
  line-height: 1.2;
  text-align: left;
  font-weight: normal;
  margin: 5px 0 0 0;
}
.main-section-1-3 .col-md-12 {
  border-radius: 6px;
  padding: 30px 15px;
  transition: 0.3s;
}
.main-section-1-3 .col-md-12:hover {
  background-color: rgba(247, 105, 86, 0);
  box-shadow: 0px 20px 38.4px 1.6px rgba(10, 106, 185, 0.15);
  transition:0.3s;
}
.main-section-1-3 .col-md-12 img {
  border: 1px solid #ebebeb;
  display: block;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 7px 10px;
}
.main-section-2 {
  padding: 0 !important;
}
.main-section-2::before {
  content: '';
  background-image: url(/assets/images/section-2-before.png);
  height: 10px;
  display: block;
  width: 100%;
}
.main-section-2 .container {
  padding: 120px 0px;
}
.main-section-2 img {
  padding: 15px 30px;
  border-radius: 30px;
  border-width: 1px;
  border-color: #1b2955;
  border-style: dashed;
  height: 105px;
}
.main-section-2 .col-md-4 {
  text-align: center;
}
.main-section-2 .section-2-image-wrap {
  border-radius: 30px;
  box-shadow: 0px 3px 7px 0px rgba(6, 12, 31, 1);
  padding: 15px;
  background-color: rgb(14, 26, 66);
  display: inline-block;
  height: 135px;
}
.main-section-2 .col-md-4 p {
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(233, 239, 255);
  line-height: 1.167;
  text-align: center;
  margin-top: 30px;
}
.main-section-3 {
  background-image: url(/assets/images/main-section-3-bg.jpg);
  width: 100% !important;
  padding-bottom: 550px;
}
.main-section-3 h2 {
  margin-top: 160px;
  font-size: 40px;
  font-family: "Myriad Pro";
  color: rgb(48, 63, 77);
  line-height: 1.2;
  text-align: center;
}
.main-section-3 p {
  font-size: 17px;
  font-family: "Myriad Pro";
  color: rgb(107, 135, 164);
  line-height: 1.706;
  text-align: center;
  padding: 20px 50px;
}
.main-section-3 a.advantages-read-more {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(0, 179, 107);
  text-transform: uppercase;
  line-height: 1.625;
  text-align: center;
  display: block;
  margin-bottom: 110px;
}
.main-section-3 .pull-left {
  width: 47%;
}
.main-section-3 .pull-left .pull-right {
  width: 50%;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 38.4px 1.6px rgba(10, 106, 185, 0.15);
  margin-top: 45px;
}
.main-section-3 .pull-left .pull-right img {
  margin: 0 auto;
  display: block;
  padding: 20px 0;
}
.main-section-3 .pull-left .pull-right p {
  padding: 0 25px;
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(107, 135, 164);
  line-height: 1.667;
  text-align: center;
}
.main-section-3 .pull-left .pull-right .main-section-3-name {
  border-top: 1px solid #e1e7ed;
  padding: 30px 0;
}

.main-section-3 .pull-left .pull-right .main-section-3-name h4 {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(0, 179, 107);
  line-height: 1;
  text-align: center;
  margin:0;
}
.main-section-3 .pull-left .pull-right .main-section-3-name p {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(107, 135, 164);
  line-height: 1;
  text-align: center;

}
.main-section-3 .pull-left .pull-left {
  width: 45%;
  margin-left: 5%;
}
.main-section-3 .pull-left .pull-left img{
  width: 125%;
}
.main-section-3 .pull-right {
  width: 49%;
}

.main-section-3 .pull-right .pull-right {
  width: 50%;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 38.4px 1.6px rgba(10, 106, 185, 0.15);
  margin-top: 45px;
}
.main-section-3 .pull-right .pull-right img {
  margin: 0 auto;
  display: block;
  padding: 20px 0;
}
.main-section-3 .pull-right .pull-right p {
  padding: 0 25px;
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(107, 135, 164);
  line-height: 1.667;
  text-align: center;
}
.main-section-3 .pull-right .pull-right .main-section-3-name {
  border-top: 1px solid #e1e7ed;
  padding: 30px 0;
}

.main-section-3 .pull-right .pull-right .main-section-3-name h4 {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(0, 179, 107);
  line-height: 1;
  text-align: center;
  margin:0;
}
.main-section-3 .pull-right .pull-right .main-section-3-name p {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(107, 135, 164);
  line-height: 1;
  text-align: center;

}
.main-section-3 .pull-right .pull-left {
  width: 45%;
  margin-left: 5%;
}
.main-section-3 .pull-right .pull-left img{
  width: 125%;
}

.main-section-4 {
  background-image: url(/assets/images/main-section-4-bg.png);
  display: block;
  width: 90%;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 5%;
  margin-top: -450px;
}
.main-section-4 h2 {
  padding-top: 14%;
  font-size: 40px;
  font-family: "Myriad Pro";
  color: rgb(233, 239, 255);
  line-height: 1.2;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.main-section-4 a {
  display: block;
  text-align: center;
  margin-top: 50px;
}
.main-section-4 a .green-button {
  background-color: rgba(0, 179, 107, 0.149);
  box-shadow: 0px 3px 7px 0px rgba(37, 7, 115, 0.29);
}
.main-section-4 a .green-button:hover {
  background-color: #00b36b;
}
.main-section-4 p a {
  display: inline-block;
  margin-top: 0px;
  color:#00b36b;
  transition: 0.3s;
}
.main-section-4 p a:hover {
  color:white;
  transition: 0.3s;
}
.main-section-4 p {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(107, 135, 164);
  text-align: center;
  padding-top: 10px;
}
.footer {
  background-image: url(/assets/images/footer-bg.jpg);
}
.footer .container {
  margin-top: 250px;
  margin-bottom: 70px;
}
.footer .container .footer-title {
  font-size: 16px;
  font-family: "Proxima Nova";
  color: rgb(233, 239, 255);
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 30px;
}
.footer .container .footer-logo {
  display: inline-block;
  width: 20%;
  text-align: center;
  vertical-align: top;
}
.footer .container .footer-company {
  display: inline-block;
  vertical-align: top;
  width: 15%;
}
.footer .container .footer-company a {
  font-size: 14px;
  font-family: "Proxima Nova";
  color: #6b7ba1;
  text-align: left;
  transition: 0.3s;
  margin-bottom: 15px;
  display: inline-block;
}
.footer .container .footer-company a:hover {
  color: #00b36b;
  transition: 0.3s;
}
.footer .container .footer-contact {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.footer .container .footer-contact p {
  font-size: 14px;
  font-family: "Proxima Nova";
  color: rgb(107, 123, 161);
  text-align: left;

}
.footer .container .footer-contact .fab {
  font-size: 20px;
  color: #b1bcdc;
  padding-right: 20px;
  padding-top: 20px;
  transition: 0.3s;
}
.footer .container .footer-contact .fab:hover {
  color: #00b36b;
  transition: 0.3s;
}
.footer .container .footer-apps {
  display: inline-block;
  vertical-align: top;
  width: 38%;
}
.footer .container .footer-apps .footer-app-store-app {
  display: inline-block;
  border-top: 1px solid #151f43;
  border-radius: 3px;
  box-shadow: 0px 3px 7px 0px rgba(37, 7, 115, 0.29);
  font-size: 14px;
  font-family: "Proxima Nova";
  color: rgb(177, 188, 220);
  text-align: center;
  padding:12px 20px;
  background-color: #000e2e;
  margin-bottom: 20px;
}
.footer .container .footer-apps .footer-app-store-app .fab {
  margin-right: 10px;
  transition: 0.3s;
}
.footer .container .footer-apps .footer-play-market-app {
  display: inline-block;
  border-top: 1px solid #151f43;
  border-radius: 3px;
  box-shadow: 0px 3px 7px 0px rgba(37, 7, 115, 0.29);
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(177, 188, 220);
  text-align: center;
  padding:12px 20px;
  background-color: #001138;
  margin-left: 10px;
  transition: 0.3s;
  margin-bottom: 20px;
}
.footer .container .footer-apps .footer-play-market-app:hover {
  color: #00b36b;
  transition: 0.3s;
}
.footer .container .footer-apps .footer-play-market-app:hover .fab {
  color: #00b36b;
  transition: 0.3s;
}
.footer .container .footer-apps .footer-app-store-app:hover {
  color: #00b36b;
  transition: 0.3s;
}
.footer .container .footer-apps .footer-app-store-app:hover .fab {
  color: #00b36b;
  transition: 0.3s;
}
.footer .container .footer-apps .footer-play-market-app .fab {
  margin-right: 10px;
}
.footer .container .footer-apps p {
  font-size: 14px;
  font-family: "Proxima Nova";
  color: rgb(107, 123, 161);
  line-height: 2.143;
  text-align: left;
}
.footer .container .footer-apps p .footer-apps-white {
  color: #aab6d4;
}
.footer .container .footer-apps p .footer-apps-orange {
  color: #f76956;
}
.main-footer {
  padding: 20px 15% !important;
  background-color: #000e2e !important;
  display: block;
  margin: 0 auto;
  width: 100% !important;
  border: none !important;
}
.main-footer p {
  margin: 0;
  font-size: 13px;
  font-family: "Proxima Nova";
  color: rgba(107, 135, 164, 0.8);
  text-align: left;
}
.main-footer a {
  font-size: 13px;
  font-family: "Myriad Pro";
  color: rgba(107, 135, 164, 0.8);
  margin-right: 20px;
  transition: 0.3s;
}
.main-footer a:hover {
  color: #00b36b;
  transition: 0.3s;
}
.chat-button {
  background-image: url(/assets/images/chat-button.png);
  width: 73px;
  height: 73px;
  bottom: 90px;
  right: 65px;
  position: fixed;
  transition: 0.3s;
  z-index: 10;
}
.chat-button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}
#app {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}
.header-main-banner {
  background-attachment: fixed;
  background-size: cover;
  background-image: url(/assets/frontend/images/banner.jpg);
}


@media (max-width: 1600px) {
  .footer .container {
    margin-top: 10vh;
  }
}
@media (max-width: 1200px) {
  .navbar-custom-menu {
    margin-left:0px;
  }
  .skin-blue .main-header .navbar .nav > li > a {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 13px;
  }

  .banner-text-buttons {
    margin-top: 30px;
  }
  .header-main-section {
    padding-bottom: 340px;
  }
  .main-section-1-2 .pull-left {
    padding-top: 0px;
  }
  .main-section-1-2 {
    margin-top: 50px;
  }
  .main-section-1-1 {
    margin-top: 50px;
  }
  .main-section-1-3 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .main-section-1-3 .pull-right {
    padding: 0;
  }
  .main-section-4 h2 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
  }
  .footer .container {
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .skin-blue .main-header .navbar .nav > li > a {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 10px;
  }
  .main-section-2 .section-2-image-wrap {
    margin-top: 50px;
  }
  .main-section-1-1 p {
    padding: 10px;
  }
  .main-section-1-2 .pull-right {
    width:100%;
    margin-top: 50px;

  }
  .main-section-1-2 .pull-left {
    width:100%;
  }
  .main-section-1-3 .pull-right {
    width:100%;
    margin-top: 50px;

  }
  .main-section-1-3 .pull-left {
    width:100%;
  }
  .main-section-3 .pull-left {
    width: 100%;
  }
  .main-section-3 .pull-right {
    width: 100%;
  }
  .main-section-4 h2 {
    font-size: 23px;
  }
  .main-footer .pull-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .main-footer .pull-left p {
    text-align: center;
  }
  .main-footer .pull-right {
    width:100%;
    text-align: center;
  }
  .main-footer a {
    margin-left: 10px;
    margin-right: 10px;
  }

}
@media (max-width: 768px) {
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    width: 57%;
  }
  .navbar-header {
    display: inline-block;
  }
  #navbar-collapse {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    background-color: rgba(255,255,255, 0.3);
  }
  .banner-text p {
    padding:30px;
  }
  .main-section-1-1-advantages .col-md-4 {
    position: relative;
    display: inline-block;
    background-color: rgba(247, 105, 86, 0);
    box-shadow: 0px 20px 38.4px 1.6px rgba(10, 106, 185, 0.15);
    margin-bottom: 20px;
    width: 100%;
  }
  .main-section-1-3 .col-md-12 {
    background-color: rgba(247, 105, 86, 0);
    box-shadow: 0px 20px 38.4px 1.6px rgba(10, 106, 185, 0.15);
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .main-section-1-1 {
    margin-top: 50px;
  }

  .main-section-1-1-advantages .col-md-4 a.advantages-read-more {
    opacity: 1;
    transition: 0.3s;
  }
  .main-section-1-1-advantages h4 {
    font-size: 18px;
  }
  .main-section-4 {
    margin-top: 0px;
  }
  .footer .container {
    margin-top: 300px;
  }
  .main-section-3 {
    padding-bottom: 50px;
  }
  .footer .container .footer-apps .footer-play-market-app {
    margin-left: 0px;
  }
  .footer .container .footer-logo {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer .container .footer-company {
    width: 20%;
  }
  .footer .container .footer-contact {
    width: 48%;
  }
  .footer .container .footer-apps {
    width: 30%;
  }

}
@media (max-width: 550px) {
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    width:auto;
  }
  .green-button, .white-button {
    font-size: 12px;
  }
  .main-section-1-1 {
    margin-top: 150px;
  }
  .footer .container .footer-logo {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer .container .footer-company {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer .container .footer-contact {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer .container .footer-apps {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer .container {
    margin-bottom: 30px;
  }
  .main-section-3 h2 {
    margin-top: 50px;
  }
  .main-section-3 a.advantages-read-more {
    margin-bottom: 50px;
  }
  .main-section-3 .pull-left .pull-left {
    width:100%;
    margin:0;
  }
  .main-section-3 .pull-left .pull-left img {
    width: 100%;
  }
  .main-section-3 .pull-left .pull-right {
    width: 100%;
    margin-top: 0px;
  }
  .main-section-3 .pull-right .pull-left {
    width:100%;
    margin:50px 0 0 0;
  }
  .main-section-3 .pull-right .pull-left img {
    width: 100%;
  }
  .main-section-3 .pull-right .pull-right {
    width: 100%;
    margin-top: 0px;
  }
}
