@import '../common/vendors/mCustomScrollbar/jquery.mCustomScrollbar.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

.main-header {
  position: relative !important;
  background-image: url(../images/exchange-bg.png);
  background-color: #fff;
  height: 103px;
  background-position: top;
  background-size: auto;
  border: 0;

  .green-button {
    display: none;
  }
}

.skin-blue .main-header .navbar {
  width: 100%;
}
a.navbar-brand {
  display: none;
}
a.exchange-logo {
  display: block !important;
}
.navbar-brand>img {
  margin-top: -7px;
}
#fixed-stock-market-toggler {
  top: 55px !important;
}
.header-login-button {
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(73, 194, 121);
  padding:10px 20px !important;
}

.header-signup-button {
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #f7614e;
  padding:10px 20px !important;
  margin-right: 5px;

}
.main-header .navbar-custom-menu, .main-header .navbar-right {
  margin-top: 30px;
}
.skin-blue .main-header .navbar .nav > li > a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
  color: #4f6477;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}
.container-fluid>.navbar-collapse {
  margin-top: 26px;
}
.skin-blue .main-header .navbar .nav > li > a:hover {
  color: #f87362 !important;
  text-decoration: underline;
  background: transparent;
  transition: 0.3s;
}
.skin-blue .main-header .navbar .nav > li.active a {
  color: #f87362 !important;
  text-decoration: underline;
}
.header-vertical-separator {
  display: inline-block !important;
  height: 50px;
  width: 1px;
  background-color: #dce2ff;
  top: 25px;
  margin-left: 50px;
  position: absolute;
}
.exchange-header-currency {
  display: inline-block !important;
  position: absolute;
  margin-left: 100px;
  top: 30px;

  .price1 {
    display: inline-block;
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(70, 92, 112);
    text-align: center;
  }

  .price2 {
    display: inline-block;
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(73, 194, 121);
    text-align: left;
    margin-left: 25px;
  }

  .price3 {
    display: inline-block;
    font-size: 12px;
    font-family: "Myriad Pro";
    color: rgb(70, 92, 112);
    text-align: left;
    margin-left: 25px;
  }

  .price4 {
    display: inline-block;
    font-size: 12px;
    font-family: "Myriad Pro";
    color: #49c279;
    text-align: left;
  }

  .price5 {
    display: inline-block;
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(70, 92, 112);
    text-align: center;
  }

  .price6 {
    display: inline-block;
    font-size: 14px;
    font-family: "Myriad Pro";
    color: #f7614e;
    text-align: center;
    margin-left: 23px;
  }

  .price7 {
    display: inline-block;
    font-size: 12px;
    font-family: "Myriad Pro";
    color: rgb(70, 92, 112);
    text-align: left;
    margin-left: 24px;
  }

  .price8 {
    display: inline-block;
    font-size: 12px;
    font-family: "Myriad Pro";
    color: #f7614e;
    text-align: left;
  }
}

#stock_market_table tbody tr:hover, #buy_order_table tbody tr:hover, #sell_order_table tbody tr:hover {
  cursor: pointer;
}

.no-clicke-header {
  pointer-events: none;
}

.exchange-loader {
  background: url(../common/images/progress-bar.gif) no-repeat center;
  background-size: 150px;
}

.filter {
  display: inline-block;
}

.exchange-table {
  font-size: 12px;
}

table.exchange-table {
  width: 100% !important;
}

table.exchange-table tr th, table.exchange-table tr td {
  padding-left: 5px;
  padding-right: 5px;
}

table.exchange-table tr th::after {
  font-size: 10px;
  right: 5px !important;
  bottom: 10px !important;
}

table.exchange-table tbody tr td {
  padding: 3px 5px;
}

table.exchange-table tbody tr.selected td {
  background: #cfffcf;
}

table.exchange-table tbody tr:first-child td {
  border-top: none !important;
}

table.exchange-table tr th {
  padding-right: 18px !important;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  border: none;
  overflow: hidden !important;
}

.dataTables_scrollHeadInner {
  width: 100% !important;
}

.mCSB_scrollTools {
  right: -5px;
}

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #b7deed;
  background: -moz-linear-gradient(left, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
  background: -webkit-linear-gradient(left, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
  background: linear-gradient(to right, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);

}

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #b7deed;
  background: -moz-linear-gradient(left, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
  background: -webkit-linear-gradient(left, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
  background: linear-gradient(to right, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
}

.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #efefef;
}

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background: #b7deed;
  background: -moz-linear-gradient(left, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
  background: -webkit-linear-gradient(left, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
  background: linear-gradient(to right, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
}

.mCSB_inside > .mCSB_container {
  margin-right: 10px;
}

.filter {
  width: 110px;
  position: relative;
}

.filter::after {
  content: '\f103';
  width: 25px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-family: "FontAwesome";
  text-align: center;
  padding-top: 7px;
  color: #999;
}

#datatable-filter:focus {
  border: 1px solid #d2d6de;
  outline: none !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  height: 34px;
}

#datatable-filter {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 20px;

  position: relative;

  z-index: 99999999;

  background: none;

  color: rgb(0, 0, 0);
  text-shadow: 0 0 0 #999;
}

#datatable-filter::-ms-expand {
  display: none;
}

@media all and (max-width: 420px) {
  .hide_in_mobile_small {
    display: none !important;
  }
}

@media all and (max-width: 512px) {
  .hide_in_mobile {
    display: none !important;
  }

  table.exchange-table tr td {
    font-size: 10px;
    padding: 3px;
  }

  .full-in-small {
    width: auto;
    margin-right: -15px;
    margin-left: -15px;
  }

  .full-in-small > div {
    padding-left: 8px !important;
    padding-right: 10px !important;
  }

  table.exchange-table.dataTable > tbody > tr.child > td {
    padding: 3px !important;
  }
}

@keyframes fadeGreen {
  from {
    background: rgba(0, 210, 0, 1);
  }

  to {
    background: rgba(0, 210, 0, 0);
  }
}

@keyframes fadeRed {
  from {
    background: rgba(210, 0, 0, 1);
  }

  to {
    background: rgba(210, 0, 0, 0);
  }
}

@keyframes fadeYellow {
  from {
    background: rgba(210, 210, 0, 1);
  }

  to {
    background: rgba(210, 210, 0, 0);
  }
}

.deleted {
  animation-name: fadeRed;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.updated {
  animation-name: fadeYellow;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.inserted {
  animation-name: fadeGreen;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#candlestick_zoom li.disabled a, #candlestick li.disabled a {
  background: #fdb;
}

#fixed-stock-market {
  transition: all 0.3s linear;
}

#fixed-stock-market i {
  display: none;
}

#fixed-stock-market.opened i {
  display: inline-block;
}

#fixed-stock-market.opened span {
  display: none;
}

#fixed-stock-market.opened {
  left: 0;
}

#fixed-stock-market-toggler.opened {
  left: 293px;
  transform: translateX(-100%);
}

#fixed-stock-market > div {
  background: #fff;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#fixed-toggler:hover {
  background: #f3b60e !important;
}

#fixed-stock-market-toggler {
  background: #f39c12 !important;
  border-color: #f39c12 !important;
  position: absolute;
  top: 10px;
  left: 300px;
  transform: translateX(0);
  transition: all 0.3s linear;
  z-index: 3;
}

#fixed-stock-market .box-body {
  padding-left: 7px;
  padding-right: 7px;
}

#fixed-stock-market {
  position: absolute;
  top: 0;
  left: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  margin: 0;
  z-index: 3;
  padding-top: 50px;
}
.main-header {
  z-index: 4;
}

@media all and (max-width: 640px) {
  #fixed-stock-market .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: right;
  }
}

@media all and (min-width: 1200px) {
  .summary-padding-fixer {
    padding-left: 50px;
  }
}
@media all and (max-width: 1400px) {
  .header-vertical-separator {
    margin-left: 0px;
  }
  .exchange-header-currency {
    margin-left: 15px;
  }
}
@media all and (max-width: 1300px) {
  .skin-blue .main-header .navbar .nav > li > a {
    font-size: 10px;
  }
}
@media all and (max-width: 1100px) {
  a.exchange-logo {
    display: block;

  }
  .header-vertical-separator {
    display: none;
  }
  .exchange-header-currency {
    display: block;
    width: 100%;
  }
}
